/* body {
    background: white url("images/kotek.jpg") no-repeat;
} */

.header {
    padding: 10px 16px;
    background: rgb(241, 240, 255);
    border-bottom: black;
    color: #000000;
}

.size-range input[type=number] {
    width: 50px;
}

.price-range input[type=number] {
    width: 80px;
}

.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
padding-top: 102px;
}

.flat-posts {
    padding: 20 100px;
}

.flat-post {
    width: 95%;
    min-height: 112px;
    background-color: #fff;
    border-bottom: 1px solid rgba(51,51,51,.25);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.flat-post .thumbnail {
    grid-column: 1;
    border: 0;
    background-color: #fff;
}

.flat-post .text {
    grid-column: 2 / 6;
    padding-left: 20px;
    padding-right: 40px;
}

.flat-post .text .title {
    white-space: nowrap;
}

.flat-post .text .title a {
    font-size: 140%;
    font-weight: 700;
    color: #000;
}

/* .flat-post .text .description {
    line-height: 1.40;
    font-size: 140%;
} */

.flat-post .text .post-text {
    line-height: 1.40;
    font-size: 140%;
}

.flat-post .info {
    grid-column: 6;
}

.flat-post .info .date-added {
    font-size: 100%;
    font-weight: 900;
    color: #000000;
}

.flat-post .info .price-text {
    font-size: 150%;
    font-weight: 900;
    color: #164e00;
}

.flat-post .info .size {
    font-size: 120%;
    font-weight: 600;
    color: #000000;
}

.flat-post .info .district {
    font-weight: 700;
    width: 100%;
    color: #000000;
}

.heart-button {
    font-size: 200%;
    border: none;
    background: none;
    color: grey;
  }

.star-button {
    font-size: 200%;
    border: none;
    background: none;
    color: grey ;
  }

.reject-button {
    font-size: 300%;
    border: none;
    background: none;
    color: grey;
  }

.unseen-button {
    font-size: 200%;
    border: none;
    background: none;
    color: grey;
  }

.keywords {
    font-weight: bold;
    color: blue;
}

.post-tags {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
}

.date-added {
    font-size: 124%;
}

/* .star > button:hover:before {
    content: "\2605";
    position: absolute;
    color: #f2b01e;
 } */

/* .reject > button:hover:before {
    content: "\215";
    position: absolute;
    color: red;
 } */
